@import url('font.css');
.application-section{
	height:80px;
	overflow:auto;
	position:relative;
}
.application-section1{
	height:auto;
	overflow:auto;
	position:relative;
	padding-bottom:140px;
	padding-top:140px;
	max-width:1200px;
	margin:auto;
}
.application-section2{
	height:auto;
	overflow:auto;
	position:relative;
	padding-bottom:250px;
	padding-top:180px;
	max-width:1200px;
	margin:auto;
}
.application-heading{
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 32px;
    font-weight: 700;
    color: #0072C7;
	margin-bottom:30px;
}
.app-content{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#4d4d4d;
	margin-bottom:40px;
	line-height:150%;
	text-align:left;
	font-weight: 800;
	padding:0px;
}
.app-content1{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#4d4d4d;
	line-height:150%;
	text-align:left;
	font-weight: 800;
	padding:0px;
}
.application-subhead{
    font-family: 'TitilliumWeb-Regular';
    font-size: 28px;
    font-weight: 700;
    color: #4d4d4d;
	margin-bottom:10px;	
}
.app-content2{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#4d4d4d;
	line-height:150%;
	text-align:left;
	font-weight: 800;
	padding:0px;
	margin-bottom:40px;		
}
.share-img1{
	background: url(../images/share-img1.png) no-repeat;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    cursor: pointer;
	margin-bottom:55px;
}
.right-content{
	padding-right:80px;
}
.right-input{
	padding-left: 25px;
	margin-bottom:30px;
	padding-right:0px;
}
.left-input{
	padding-right: 25px;
	padding-left:0px;
	margin-bottom:30px;
}
.application-label{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#4d4d4d;
	line-height:150%;
	text-align:left;
	font-weight: 800;
	padding:0px;
	margin-bottom:10px;		
}
.app-select{
	width:100%;
	border-radius: 4px;
	cursor:pointer;
}
.select-style {
    overflow: hidden;
	width:29%;
    background:#E6E6E6 url(../img/icons/down-icon.png) no-repeat 90% 50%;
	display:inline-block;
	margin-right:15px;
	border-radius: 4px;
	cursor:pointer;
}
.select-style:last-child{
	margin-right:0px;
}
.select-style select {
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.select-style1 {
    overflow: hidden;
	width:100%;
    background:#E6E6E6 url(../img/icons/down-icon.png) no-repeat 98% 50%;
	display:inline-block;
	margin-right:15px;
	border-radius: 4px;
}
.select-style1:last-child{
	margin-right:0px;
}
.select-style1 select {
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style1 select:focus {
    outline: none;
}
.upload-button{
	color: #555;
    background-color: transparent;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 50px;
    border: 2px solid #0072c7;
    display: inline-block;
    cursor: pointer;
    color: #0072c7;
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 20px;
    height: 40px;	
}
.application-hr {
    border: 0;
    border-top: 1px solid #838383;
	width: 100%;
	position:relative;
	margin-top: 20px;
    margin-bottom: 50px;
}
.end-line{
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto;
}
.submit-button{
    background-color: transparent;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 50px;
    border: 2px solid #0072c7;
    display: inline-block;
    cursor: pointer;
    color: #0072c7;
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 20px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;	
	outline:none;
}
.back-button{
    background-color: transparent;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 50px;
    border: 2px solid #4d4d4d;
    display: inline-block;
    cursor: pointer;
    color: #4d4d4d;
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 20px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
	float:right;	
	outline:none;
}
.app-input{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#808080;
	font-weight: 800;
}
.application-sent{
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 60px;
    font-weight: 700;
    color: #0072C7;
	margin-bottom:30px;	
}
.sent-content{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#4d4d4d;
	font-weight: 700;
	line-height:150%;
	margin-bottom:35px;
}
.home-button{
    background-color: transparent;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 50px;
    border: 2px solid #0072c7;
    display: inline-block;
    cursor: pointer;
    color: #0072c7;
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 20px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    outline: none;	
	margin-right:44px;
}
.career-button{
    background-color: transparent;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 50px;
    border: 2px solid #0072c7;
    display: inline-block;
    cursor: pointer;
    color: #0072c7;
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 20px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    outline: none;	
}
.sent-container{
	height:auto;
	width:100%;
	max-width:1090px;
	margin:auto;
	overflow:auto;
	text-align:center;
}
.sent-img{
	margin-bottom:80px;
}
#filename{
	font-size: 18px;
    font-family: 'OpenSans-Light';
    color: #4d4d4d;
    line-height: 150%;
    text-align: left;
	font-weight: 800;
	border:none;
	background:none;
	width: 100%;
	text-align: left;
    display: inline-block;
}
.fileUpload {
    position: relative;
    overflow: hidden;
	background-color: transparent;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 50px;
    border: 2px solid #0072c7;
    display: inline-block;
    cursor: pointer;
    color: #0072c7;
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 20px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding-top: 8px;	
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
	padding-top:5px;
}