#product-section-1{
	min-height:528px;
	height:auto;
	background: url(../img/products/product_mpower.jpg) no-repeat fixed; background-size: cover;
}
@media only screen and (device-width: 768px) and (device-height: 1024px){ 
#product-section-1  {
 background: url(../img/products/product_mpower.jpg) no-repeat ; background-size: cover;
}
}
#product-section-2{
	min-height:528px;
	height:auto;
	background: url(../img/products/product_imatch.jpg) no-repeat fixed; background-size: cover;
}
@media only screen and (device-width: 768px) and (device-height: 1024px){ 
#product-section-2 {
 background: url(../img/products/product_imatch.jpg) no-repeat ; background-size: cover;
}
}
#product-section-3{
	min-height:528px;
	height:auto;
	background: url(../img/products/product_ezee.jpg) no-repeat fixed; background-size: cover;
}
@media only screen and (device-width: 768px) and (device-height: 1024px){ 
#product-section-3{
 background: url(../img/products/product_ezee.jpg) no-repeat ; background-size: cover;
}
}
.product-logo{
	text-align:center;
	padding-top:84px;
	padding-bottom:84px;
}
@media only screen and (min-width:1601px){
	.product-logo{
		text-align:center;
	padding-top:25px;
	padding-bottom:140px;
	}
}
.header-division{
	min-height:32px;
	height:auto;
	background-color:#0072C7;
}
.product-section-2{
	width: 100%;
    padding-bottom: 140px;
    height: auto;
    padding-top: 140px;
}
.top-heading{
	text-align:center;
	font-size:24px;
	font-family:'OpenSans-Regular';
	color:#0072C7;
	line-height: 150%;
	margin-bottom:80px;	
}
.product-sub-content{
	padding-top:80px;
	
}
.product-slider{
	height:auto;
	overflow:auto;
	padding-top:110px;
	padding-bottom:90px;
}
.right-heading{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#4d4d4d;
	line-height: 150%;
	margin-bottom:80px;	
	margin-left:5%;
	text-align:left;
}
.team-advisors{
	width:100%;
	background-color:#E8F5FF;
	padding-bottom:140px;
	height:auto;
	padding-top:140px;	
}
.section-feature{
	background-color:#D1EBFF;
	width:100%;
	padding-bottom:140px;
	height:auto;
	padding-top:140px;
}
.grey-patch{
	background-color:#F2F2F2;
	width:100%;
	padding-bottom:140px;
	height:auto;
	    overflow: auto;
	padding-top:140px;
}
.grey-patch-logo{
	text-align:center;
}
.feature-heading{
	font-size:32px;
	font-family:'TitilliumWeb-SemiBold';
	color:#0072C7;
	line-height: 150%;
	margin-bottom:80px;	
	text-align:center;
}
.heading{
	font-size:24px;
	font-family:'TitilliumWeb-SemiBold';
	color:#0072C7;
	line-height: 150%;
	margin-left:5%;
	text-align:left;
}
.separator{
    margin-top: 25px;
    margin-bottom: 20px;
	margin-left: 5%;
    border: 0;
    border-top: 1px solid #3880D6;
}
.sub-content{
	font-size:18px;
	font-family:'OpenSans-Light';
	color:#4D4D4D;
	line-height: 150%;
	margin-left:5%;
	text-align:left;
}
.feature-2{
	background-color:#E8F5FF;
	width:100%;
	height:auto;
	padding-top:140px;
}
.feature-heading-1{
	font-size:32px;
	font-family:'TitilliumWeb-SemiBold';
	color:#0072C7;
	line-height: 150%;
	margin-left:5%;
	text-align:center;
}
#ezee-download{
	background-color:#006fc2;
	padding-top:88px;
	padding-bottom:88px;
	height:350px;
}
.download-label{
	font-size:32px;
	font-family:'TitilliumWeb-SemiBold';
	color:#FFF;
	text-align:center;
	margin-bottom:30px;
}
.ezee-advice-img{
	float:right;
	margin-right:50px;
}

.ezee-invest-img{
	float:left;
	padding-left:8%;
	border-left: 1px solid #FFF;
}
.separator-center{
	margin-left: 25%;
    margin-right: 20%;
	margin-top: 25px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #3880D6;
}
.imatch{
	padding-bottom:140px;
}
#menu-two1 li {
	display: inline-block;
	padding: 24px 15px;
}

#menu-two1 li a {
	color: #757575;
	font-family: 'Myriad Pro','Regular';
	font-size:12px;	
	color:#4d4d4d;
	outline:none;
}
#menu-two1 li a:hover{
    color: #092854;
	padding-bottom:5px;
	border-bottom:2px solid #d5d33d;	  
}
#menu-two1 li a.active{
    color: #092854;
	padding-bottom:5px;
	border-bottom:2px solid #d5d33d;	  
}
#menu-two1 {
	bottom: 0;
	width: 100%;
	height: 60px;
	background: #d1edff;
	padding-left:72px;
	padding-right:72px;
	text-align:center;
}
.menu-two-fixed {
	position: fixed; 
	top: 70px; 
	height: 70px; 
	z-index: 1;
}
.submenu-div{
	display:none;
}
.client-patch-logo{
	padding-right:140px;
}
.client-patch-logo:first-child{
	padding-left:0px;
	text-align:left;
}
.client-logo{
	padding-left:10%;
	padding-right:10%;
}
.client-section2 {
    padding-top: 45px;
    text-align: center;
}
.client-section {
    text-align: center;
}
.mytitles{
    border-top: 1px solid #3880d6;
	padding-top:27px;
	padding-bottom:27px;
	max-width: 1200px;
	font-size:24px;
    width: 100%;
	margin:auto;
	font-family:'TitilliumWeb-SemiBold';
}
.ui.styled.accordion .active.title1{
	background: #fff;
    color: #0d356c;
    padding-bottom: 0px;
    padding-top: 0px;
}
.mod_heading{
	color:#0072C7;
	font-family:'TitilliumWeb-SemiBold';
	font-size:32px;
}
.ezee-color{
	color:#0072C7;
	font-family:'OpenSans-SemiBold';
}
@media (max-width:480px){
.grey-patch, #services-section-4{
	display:none;
}	
.product-slider{
	padding-top:0px;
	padding-bottom:0px;
}	
.imatch {
    padding-bottom: 0px;
}
.team-advisors{
	padding-bottom: 46px;
	padding-top: 46px;
}	
.mytitles{
	font-size:24px;
}	
.top-heading {
    font-size: 18px;
	margin-bottom: 23px;
}
.mod_heading{
    font-size: 24px;	
}
.right-heading{
    margin-bottom: 23px;
	font-size: 12px;
}
.section-feature {
    padding-bottom: 46px;
    padding-top: 46px;
}
.feature-heading {
    font-size: 24px;
    margin-bottom: 30px;
	padding-left:15px;
	padding-right:15px;
}
.heading {
    font-size: 18px;
}
.separator {
    margin-top: 23px;
    margin-bottom: 23px;
}
.sub-content {
    font-size: 12px;
}
.feature-2 {
    padding-bottom: 46px;
    padding-top: 46px;
}
.feature-heading-1 {
    font-size: 24px;
    margin-left: 0%;
}
.grey-patch {
    padding-bottom: 46px;
    padding-top: 46px;
	overflow:hidden;
}
}
@media (max-width:1599px){
.client-logo{
	padding-left:6.5%;
	padding-right:3%;
}	
}
@media (max-width:1366px){
.client-logo{
	padding-left:5%;
	padding-right:2%;
}	
}
@media (max-width:1280px){
.client-logo{
	padding-left:2.9%;
	padding-right:0%;
}	
}
@media only screen and (min-width:1024px) and (max-width:1366px){
.client-patch-logo{
	padding-right:90px;
}	
}
@media only screen and (min-width:721px) and (max-width:1023px){
.client-patch-logo{
	padding-right:50px;
}	
}
@media only screen and (min-width:481px) and (max-width:720px){
.client-patch-logo{
	padding-right:20px;
}	
}