
	.slider1 {
        width: 72%;
        margin: auto auto;
    }

    .slick-slide{
      margin: 0px 20px;
    }
	
    .slick-slide active{
      margin: 0px 20px;
    }	

    .slick-slide img {
     
    }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

/* Styles */
.slider1 {
        width: 50%;
        margin: auto auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

/* Styles */
.slider1 {
        width: 50%;
        margin: auto auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

}